body {
    background-color: black;
}
h1 {
    color: white;
    text-align: center;
}

.container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 40%;
}

.responsive {
    border: none;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.Footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: left;
}
a:link {
    color: blue;
    text-decoration: none;
}
a:visited {
    color: magenta;
    text-decoration: none;
}
a:hover {
    color: red;
    text-decoration: underline;
}
a:active {
    color: yellow;
    text-decoration: underline;
}