body {
    background-color: black;
}
.container {
    position: relative;
    overflow: hidden;
    width: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
    padding-top: 35%;
}

.responsive {
    border: none;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

h1 {
    z-index: 1;
    color: white;
    text-align: center;
}
h3,h4,p {
    color: white;
    text-align: center;
}


.Footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: left;
}
a:link {
    color: blue;
    text-decoration: none;
}
a:visited {
    color: magenta;
    text-decoration: none;
}
a:hover {
    color: red;
    text-decoration: underline;
}
#disqus_thread{
    text-align: center;
}